* {
    margin: 0;
  }
  body {
    background-color: #111;
    color: white;
  }
.banner {
    background-image: url("https://images.pexels.com/photos/3742711/pexels-photo-3742711.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container {
    margin: 0 auto;
    width: 75%
}

.fadeBottom {
    height: 7.4rem;
    background-image: linear-gradient(
      180deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #111
    );
  }
.container{
    margin: 80px auto;
    
    
}

input{
    display: block;
    width: 25%;
    margin: 25px auto;
    padding: 10px;
}

input[type=text]{
background-color: #fafafa;
border:0;
box-shadow:0 0 10px rgba(255, 255, 255, .99);
transition: .3s box-shadow;
}

input[type=submit] {
    background-color:rgba(37, 81, 224, 0.829);
    color: white;
    width: 20%;

}

  input:hover {
    box-shadow:0 0 10px rgba(65, 236, 248, 0.829);
  }

  /* spacing */

table {
    table-layout: fixed;
    width: 75%;
    border-collapse: collapse;
    border: 3px solid rgba(111, 145, 184, 0.829);
    margin: 120px auto;
  }
  
  thead th:nth-child(1) {
    width: 33%;
  }
  
  thead th:nth-child(2) {
    width: 33%;
  }
  
  thead th:nth-child(3) {
    width: 33%;
  }
  

  
  th, td {
    padding: 20px;
  }

  tbody td{
      text-align: center;
  }

  tfoot th{
      text-align: right;
  }

  /* zebra striping */

tbody tr:nth-child(odd) {
    background-color: rgba(111, 145, 184);
  }
  
  tbody tr:nth-child(even) {
    background-color: rgba(73, 141, 219);
  }
  
  
  table {
    background-color: rgba(111, 145, 184, 0.829);
  }